@media(max-width : 426px) {
    .sub-list2 {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .main {
        background-color: #f7f7f7;
        width: 100%;
        height: 800px;
        display: flex;
        /* padding: 150px; */
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }

    .div1 {
        flex: 1;
        padding-right: 50;
        padding-left: 30px;

    }

    .div2 {
        flex: 1;
        padding-left: 30px;
        padding-top: 30px;
    }

    img {
        height: 330px;
        width: 330px;
        border-radius: 25px;
    }
    .hid1 {
        display: inline;
        background-color: #f9506f;
        color: #f7f7f7;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .hid{
        display: none;
    }
}

@media(min-width : 426px) {
    .sub-list2 {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .main {
        background-color: #f7f7f7;
        width: 100%;
        height: 800px;
        display: flex;
        /* padding: 150px; */
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }

    .div1 {
        flex: 1;
        padding-right: 50;
        padding-left: 30px;

    }

    .div2 {
        flex: 1;
        padding-left: 30px;
        padding-top: 30px;
    }

    img {
        height: 350px;
        width: 350px;
        border-radius: 25px;
    }
    .hid1 {
        display: inline;
        background-color: #f9506f;
        color: #f7f7f7;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .hid{
        display: none;
    }
}

@media(min-width : 576px) {
    .sub-list2 {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .main {
        background-color: #f7f7f7;
        width: 100%;
        height: 800px;
        display: flex;
        /* padding: 150px; */
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }

    .div1 {
        flex: 1;
        padding-right: 50;
        padding-left: 30px;

    }

    .div2 {
        flex: 1;
        padding-left: 30px;
        padding-top: 30px;
    }

    img {
        height: 470px;
        width: 470px;
        border-radius: 25px;
    }
    .hid1 {
        display: inline;
        background-color: #f9506f;
        color: #f7f7f7;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .hid{
        display: none;
    }
}

@media(min-width : 768px) {
    .sub-list2 {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .main {
        background-color: #f7f7f7;
        width: 100%;
        height: 800px;
        display: flex;
        /* padding: 150px; */
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }

    .div1 {
        flex: 1;
        padding-right: 50;
        padding-left: 30px;

    }

    .div2 {
        flex: 1;
        padding-left: 30px;
        padding-top: 30px;
    }

    img {
        height: 600px;
        width: 600px;
        border-radius: 25px;
    }
    .hid1 {
        display: inline;
        background-color: #f9506f;
        color: #f7f7f7;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .hid{
        display: none;
    }
}

@media(min-width : 992px) {
    .sub-list2 {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    .main {
        background-color: #f7f7f7;
        width: 100%;
        height: auto;
        display: flex;
        /* padding: 150px; */
        padding-top: 75px;
        flex-direction: row;
        align-items: center;
    }

    .div1 {
        flex: 1;
        padding-right: 50;
        padding-left: 30px;

    }

    .div2 {
        flex: 1;
        padding-left: 30px;
        padding-top: 30px;
    }

    img {
        height: 450px;
        width: 450px;
        border-radius: 25px;
    }
    .hid1 {
        display: none;
    }
    .hid{
        display: inline;
    }
}

@media(min-width : 1200px) {
    .sub-list2 {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    .main {
        background-color: #f7f7f7;
        width: 100%;
        height: auto;
        display: flex;
        /* padding: 150px; */
        padding-top: 75px;
        flex-direction: row;
        align-items: center;
    }

    .div1 {
        flex: 1;
        padding-right: 50;
        /* padding-left: 30px; */
        padding-left: 121px;
    }

    .div2 {
        flex: 1;
        padding-left: 100px;
        padding-top: 30px;
    }

    img {
        height: 450px;
        width: 450px;
        border-radius: 25px;
    }
    .hid1 {
        display: none;
    }
    .hid{
        display: inline;
    }
}